<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <script src="{% static 'home/js/fontawesome.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
    <title>{%block title %}{% endblock %}</title>
</head>
<body>  
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link {% block homestatus %}{% endblock %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'products_index' %}" class="nav-link {% block productsstatus %}{% endblock %} ">Products</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="/about" class="nav-link {% block aboutstatus %}{% endblock %}">About</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto">
                <a class="navbar-brand">{% block brand %}{% endblock %}</a>
            </div>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="https://github.com/vkmsebastian" class="nav-link"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://linkedin.com/in/vksebastian" class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <div class="vr mx-2"></div>
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>      
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    
    </div>
</body>
</html>