{% extends 'home/index.html' %}
{% block cardabout%}active link-dark{% endblock %}
{% block aboutstatus %}active{% endblock %}
{% block title %}About{% endblock %}

{% block card %}

            
                <p class="card-title text-muted display-5">About</p>
                <p class="card-text">This is an ongoing project made to serve as a portfolio for future projects utilizing the Django Framework</p>
                <!-- <p class="card-text"><small class="text-muted">Van Kaizer Sebastian</small></p> -->

{% endblock %}