{% extends 'home/index.html' %}
{% block cardregister %}active link-dark{% endblock %}
{% block title %}Registration Page{% endblock %}
{% block registerstatus%}active{% endblock %}
{% block card %}
                <h1 class="card-title text-muted display-5">Register</h1>
                <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" class="form-control {% if form.errors.username %}is-invalid{% endif %}" name="username" value="{{ form.username.value }}" required>   
                    <div class="invalid-feedback">
                        {{ form.errors.username }}
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label for="username" class="form-label">Email: </label>
                    <input type="email" class="form-control" name="email" value="{{form.email}}">
                </div> -->
                <div class="mb-3">
                    <label for="password1" class="form-label">Password: </label>
                    <input type="password" class="form-control {% if form.errors.password1 %}is-invalid{% endif %}" name="password1" required>
                    <div class="invalid-feedback">
                        {{ form.errors.username }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Repeat Password: </label>
                    <input type="password" class="form-control {% if form.errors.password2 %}is-invalid{% endif %}" name="password2" required>
                    <div class="invalid-feedback">
                        {{ form.errors.password2 }}
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-info text-dark" formaction="{% url 'register' %}">Register</button>
            </form>
{% endblock %}