{% extends 'home/index.html' %}
{% block cardlogin %}active link-dark{% endblock %}
{% block title %}Login Page{% endblock %}
{% block loginstatus%}active{% endblock %}
{% block card %}
                <h1 class="card-title text-muted display-5">Login</h1>
                <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" class="form-control {% if error %}is-invalid{% endif %}" name="username" required>
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control {% if error %}is-invalid{% endif %}" name="password" required>
                </div>
                <button type="submit" class="btn btn-outline-info text-dark" formaction="login">Login</button>
                
            </form>
{% endblock %}