{% extends 'home/base.html' %}

{% block title %}Login Page{% endblock %}
{% block loginstatus%}active{% endblock %}
{% block content%}
<div class="container">
    <div class="row mt-2">
        <div class="col-0 col-xxl"></div>
        <div class="col">
            <div class="card align-items-start">
                <div class="card-body">
                    <h1 class="card-title">Login</h1>
                <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username: </label>
                    <input type="text" class="form-control {% if error %}is-invalid{% endif %}" name="username" autofocus required>
                    <div class="invalid-feedback">
                        {{error}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password: </label>
                    <input type="password" class="form-control {% if error %}is-invalid{% endif %}" name="password" required>
                </div>
                
                <button type="submit" class="btn btn-primary" formaction="login">Login</button>
                <a href="register" class="btn btn-secondary">Register</a>
                </div>
            </form>
            </div>
        </div>
        <div class="col-xxl"></div>
    </div>
</div>
{% endblock %}