{% extends 'home/base.html' %}
{% block title %}Products{% endblock %}
{% block productsstatus%}active{% endblock %}
{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-3">
        <div class="row">
            <div class="card mb-3 border-secondary">
                <div class="card-body">
                    <div class="card-title display-6 text-center">Add Product</div><hr>
                    <form action="{% url 'products_index' %}" method="post">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control {% if form.errors.name %}is-invalid{% endif %}" id="{{ form.name.id_for_label }}" name='name' placeholder="Name" 
                            value="{% if form.name.value != None %}{{ form.name.value }}{% endif %}" required>
                            <label for="{{ form.name.id_for_label }}" class="form-label">Product Name: </label>
                            {% if form.errors.name %}
                                <div class="invalid-feedback">
                                    {{form.errors.name}}
                                </div>
                            {% endif %}
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control {% if form.errors.price %}is-invalid{% endif %}" id="{{ form.price.id_for_label }}" name='price' placeholder="Price" 
                            value="{% if form.price.value != None %}{{ form.price.value }}{% endif %}" required>
                            <label for="{{ form.price.id_for_label }}" class="form-label">Product Price: </label>
                            {% if form.errors.price %}
                                <div class="invalid-feedback">
                                    <p>Please enter a valid price</p>
                                </div>
                            {% endif %}
                          </div>
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control {% if form.errors.stocks %}is-invalid{% endif %}" id="{{ form.stocks.id_for_label }}" name='stocks' placeholder="Stock" 
                            value="{% if form.stocks.value != None %}{{ form.stocks.value }}{% endif %}" required>
                            <label for="{{ form.stocks.id_for_label }}" class="form-label">Available Stock: </label>
                            {% if form.errors.stocks %}
                                <div class="invalid-feedback">
                                    <p>Please enter a valid stock value</p>
                                </div>
                            {% endif %}
                          </div>
                          <input type="hidden" name="page" value="{{ products.number }}">
                          {% if id != None %}
                              <button type="submit" formaction="{% url 'products_update' id products.number %}" class="btn btn-warning">Edit Product</button>
                          {% else %}
                              <button type="submit" class="btn btn-outline-primary">Add Product</button>
                        {% endif %}
                        </form>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="card border-secondary">
                    <div class="card-body">
                      <h5 class="card-title display-6 text-center">Filter Products</h5><hr>
                      <form>
                        
                        <input type="text" name="filter" id="filter" onkeyup="getFilter()" class="form-control mb-2" placeholder="Search">
                        <input type="button" value="Clear" class="btn btn-outline-secondary" onclick="clearFilter()">
                      </form>
                    </div>
                  </div>

            </div>
    </div>
    <div class="col-md-7">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title display-6 text-center">Products List</h5>
                <hr>
                <table class="table table-hover" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stocks</th>
                            <th scope="col">#</th>
                        </tr>    
                    </thead>
                    <tbody id="productsTBody">
                        {% for product in products%}
                        <tr>
                            <td scope="row">{{ product.name }}</td>
                            <td scope="row">{{ product.price }}</td>
                            <td scope="row">{{ product.stocks }}</td>
                            <td scope="row">
                                <a href="{% url 'products_edit' product.id products.number %}" class="link-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'products_delete' product.id products.number %}" class="link-danger"><i class="fa-solid fa-eraser"></i></a>
                            </td>
                        </tr> 
                        {% empty %}   
                        <caption>There are currently no listed products.</caption>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination justify-content-center" id="pagination">
                    <span class="step-links">
                        {% if products.has_previous %}
                            <a href="/products/1"><i class="fa-solid fa-backward-fast"></i></a>
                            <a href="/products/{{ products.previous_page_number }}"><i class="fa-solid fa-backward-step"></i></a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ products.number }} of {{ products.paginator.num_pages }}
                        </span>
                
                        {% if products.has_next %}
                            <a href="/products/{{ products.next_page_number }}"><i class="fa-solid fa-forward-step"></i></a>
                            <a href="/products/{{ products.paginator.num_pages }}"><i class="fa-solid fa-forward-fast"></i></a>
                        {% endif %}
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    function getFilter(){
        filterElement = document.getElementById('filter');
        filterValue = filterElement.value.toLowerCase();
        clearTable();
        url = "{% url 'products_filter' %}"
        $.ajax({
            url: url,
            type: "POST",
            data: {csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value, keyword: filterValue},
            success: function(result){
                products = JSON.parse(result['ser_page_obj']);
                console.log(products);
                products.forEach(addToTable);
            }
        });
        
    }

    function clearFilter(){
        filterElement = document.getElementById('filter');
        filterElement.value = "";
        getFilter();
    }

    function clearTable(){
        table = document.getElementById('productsTable');
        tbody = document.getElementById('productsTBody');
        pagination = document.getElementById('pagination');
        tbody.innerHTML = "";
        pagination.innerHTML = "";
    }

    function addToTable(obj, index, array){
        tbody = document.getElementById('productsTBody');
        tbody.innerHTML += 
            `<tr>
                <td scope="row">${obj.fields.name}</td>
                <td scope="row">${obj.fields.price}</td>
                <td scope="row">${obj.fields.stocks}</td>
                <td scope="row">
                    <a href="${obj.pk}/edit/1" class="link-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="${obj.pk}/delete/1" class="link-danger"><i class="fa-solid fa-eraser"></i></a>
                </td>
            </tr>`
    }
</script>
{% endblock %}

